*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  width: 70%;
  min-height: auto;
  margin: auto;
  margin-top: 20px;
  box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;

}
.nav{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background:  linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
}
.logo{
  width: 50px;
  height: 50px;
  margin-right: 5px;
  padding: 5px;
  margin-left: 10px;
}
.logo >img{
  width: 100%;
  height: 100%;

}
.nav > h4{
  margin-left: auto;
  margin-right: 20px;
}
.main{
  padding: 40px;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--inputs {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid D5D4D8;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}
.meme-image{
  width: 80%;
  height: auto;
  margin: auto;
  /* border: 5px solid black; */
  text-align: center;
  position: relative;
}
.meme--image {
  max-width: 100%;
  border-radius: 3px;
  padding: 10px 10px 0px 0px;
  text-align: center;
  max-height: 75vh;

}


.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}
.top {
  top: 0;
}

/* practice */

/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  align-items: flex-end;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #D9D9D9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #D9D9D9;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
} */
